body {
    margin: 0;
    padding: 0;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

#master {
    
    display: flex;
    flex-direction: column;
    font-family: "Roboto", sans-serif;

}



.header,
.content-1 {
    background-color: #1F2937;
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 24px;
}

.header-logo {
    color: #F9FAF8;
    font-size: 24px;
    font-weight: bold;
}

.header-links {
    display: flex;
    flex-direction: row;
    color: #E5E7EB;
    font-size: 18px;
    gap: 24px;
}

.content-1 {
    display: flex;
    flex-direction: row;
    padding: 120px;
    gap: 50px;
}

.left-1 {
    display:flex;
    flex-direction: column;
    flex: 1;
}

.right-1 {
    height: auto;
    width: auto;
    /* This border is a placeholder for image */
    border: 2px solid red;
    flex: 1;
}

h1,
p {
    margin: 0;
    padding: 0;
}
.heading-1 {
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 900;
}

.desc-1 {
    margin-top: 16px;
    font-size: 18px;
    color: #E5E7EB;
}

.button-1 {
    border-radius: 8px;
    background-color: #3882F6;
    color: #F9FAF8;
    font-size: 18px;
    align-self: flex-start;
    padding: 8px 24px;
    margin-top: 16px;
    border-width: 0;
}

.container {
    padding-left: 20%;
    padding-right: 20%;
}