body {
    margin: 0;
    padding: 0;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

#master {
    
    display: flex;
    flex-direction: column;
    font-family: "Roboto", sans-serif;

}

/* Header content */

.header,
.content-1 {
    background-color: #1F2937;
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 24px;
}

.header-logo {
    color: #F9FAF8;
    font-size: 24px;
    font-weight: bold;
}

.header-links {
    display: flex;
    flex-direction: row;
    color: #E5E7EB;
    font-size: 18px;
    gap: 24px;
}

/* Content section 1 */

.content-1 {
    display: flex;
    flex-direction: row;
    padding: 120px;
    gap: 50px;
}

.left-1 {
    display:flex;
    flex-direction: column;
    flex: 1;
}

.right-1 {
    height: auto;
    width: auto;
    /* This border is a placeholder for image */
    border: 2px solid red;
    flex: 1;
}

h1,
h2,
p {
    margin: 0;
    padding: 0;
}
.heading-1 {
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 900;
}

.desc-1 {
    margin-top: 16px;
    font-size: 18px;
    color: #E5E7EB;
}

.button-1 {
    border-radius: 8px;
    background-color: #3882F6;
    color: #F9FAF8;
    font-size: 18px;
    align-self: flex-start;
    padding: 8px 24px;
    margin-top: 16px;
    border-width: 0;
}

/* Content section 2 */
.content-2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 100px;
}

.heading-2 {
    font-size: 36px;
    font-weight: 900;
    color: #1F2937;
    padding-top: 50px;
}

.cards {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 8%;
    object-fit: cover;
    flex: 1;
    padding: 50px 10%;
}

.card {
    box-sizing: border-box;
    padding: 0%;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card_img {
    width: 100%;
    aspect-ratio: 1 / 1;
    border: solid #3882F6;
    border-radius: 16px;
    border-width: 3px;
    object-fit: cover;
    
}

.center-text {
    text-align: center;
    height: auto;
    width: 100%;
    padding-top: 5px;
    font-size: 14px;
    color: gray;
}


/* Content section 3 */
.content-3 {
    padding: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #E5E7EB;
}

.quote {
    font-size: 36px;
    color: #1F2937;
    font-weight: 300;
    font-style: italic;
}


.author {
    margin-top: 5px;
    align-self: flex-end;
    color: #1F2937;
    font-weight: bold;
    font-size: 18px;
}

/* Content section 4 */
.call-card {
    background-color: #3882F6;
    color: #E5E7EB;
    padding: 50px 100px;
    margin-top: 100px;
    margin-bottom: 100px;
    height: auto;
    display: flex;
    flex-direction: row;
    border-radius: 8px;
    font-size: 14px;
    justify-content: space-between;
    align-items: center;
    gap: 20%;
}

.heading-4 {
    color: #F9FAF8;
    font-size: 24px;
}

.button-4 {
    padding: 8px 32px;
    border: 2px solid #E5E7EB;
    border-radius: 12px;
    background-color: #3882F6;
    color: #E5E7EB;
    font-size: 18px;
}

/* Footer */
.footer {
    background-color: #1F2937;
    padding: 40px;
    display:flex;
    justify-content: center;
    align-items: center;
}
.copyright {
    color: #E5E7EB;
}



/* Removing base CSS properties */
.container {
    padding-left: 20%;
    padding-right: 20%;
}

/* Readjust */
.content-3 {
    padding-left: 25%;
    padding-right: 25%;
}

