body {
    margin: 0;
    padding: 0;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

#master {
    display: flex;
    flex-direction: column;
}

.header,
.content-1 {
    font-family: "Roboto", sans-serif;
    background-color: #1F2937;
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 16px;
}

.header-logo {
    color: #F9FAF8;
    font-size: 24px;
    font-weight: bold;
}

.header-links {
    display: flex;
    flex-direction: row;
    color: #E5E7EB;
    font-size: 18px;
    gap: 24px;
}

